 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(svdfdggg.jpeg);
    background-size: cover;
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: transparent; 
    text-align: center;
    padding: 20px;
    font-size: 50px;
   position: static;
  
   
}

h1 {
    color:#D7004D;
    margin-left: -47rem;
  margin-top: -1rem;
  border-bottom: 2px solid rgb(0, 0, 0);
 

}
 header h1 span{
    color: blue;
    font-size: 25px;
}
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.cupcake-item {
    border: 1px solid blue;
    padding: 17px;
    text-align: center;
    max-width: 275px;
  
}

img {
    max-width: 100%;
}

h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

span {
    font-weight: bold;
    font-size: 1.25rem;
    color: #D7004D; 
}
.cupcake-item img{
    margin-top: -2.5rem;
}
.tie{
    margin-top: -2rem;
}
.pie{
    margin-top: 0.9rem;
}
.rie{
    margin-top: 4rem;
}