
html{
    font-size: 12px;
}
*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    
}
.rangebuy{
    width: 100vw;
    height: 23vh;
    background-color: #25242458;
    text-align: center;
    font-size: clamp(1vh,4vh, 10vh);
}


h3{
    text-align: center;
    padding: 20px;
}
p{
    padding-left: 35vw;
}
form {
    background-color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Add more CSS rules for form validation, hover effects, and responsive design as needed */
