@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}



.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #2a282c 70%, #332f3b 30%);
    position: relative;
    overflow: hidden;
}
.wave{
    position: absolute;
    top: 0;
    right: 30%;
}
nav {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style-type: none;  
}
nav ul li{
    margin:0 5px;
}
nav ul a{
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    z-index: 1;
}
nav ul a::after{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top:0;
    left:0px;
    border-radius: 20px;
    background-color: #4d465a;
    z-index: -1;
    transition: 0.5s;
}
nav ul a:hover:after{
    width: 100%;
}
.main-content {
    width: 60%;
    padding-top: 100px;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image-coffee ,.main-text{
    flex-basis: 50%;
    
}
.image-coffee img{
    width: 500px;
    height: 500px;
}
.main-content h1 {
    font-size: 60px;
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow: 1px 5px 5px rgba(209, 174, 224, 0.3);
}
.main-content p{
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}
.main-content button{
    margin-top: 2.5rem;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(to right, #833ab4 18%,#331b9f 68%,#45befc 100%);
    color: white;
    cursor: pointer;
    box-shadow: -5px 5px 17px rgba(0,0,0,0.3);
}
.swiper{
    width: 20rem;
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 70%;
}
.right{
    position: absolute;
    right: 8%;
    bottom: 20%;
}
.box{
    display: flex;
    align-items: center;
}
.right .box .image img{
    width: 110%;
}
.image{
    margin-top: 2rem;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: -5px 5px 17px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.image:hover{
    background-color: rgba(31, 30, 30, 0.832);
}
.box .inner-box{
    margin: 1.5rem 0 0 1rem;
}
.box .inner-box p{
    font-size: 14px;
    font-weight: 500;
    color:#f9f0ff
}
.social-links{
    position: absolute;
    right: 5%;
    bottom: 5%;
    color:#f9f0ff;
}
.social-links::before{
    content: "";
    width: 80%;
    height: 3px;
    position: absolute;
    top:42%;
    left: -150px;
    background: linear-gradient(to left, #833ab4 18%,#331b9f 68%,#45befc 100%);
}
.social-links i{
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2a282c;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.social-links i:hover{
    transform: translateY(-5px);
}
