*{
    margin: 0;
    padding: 0;
}
body{
    background-color: burlywood;
    overflow-x: hidden;
}
/* Logo */
.logo{
    position: fixed;
    height: 7vw;
    right: 2vw;
    z-index: 5;
}
/* Navagition bar */
.navbar{
    padding-top: 1vh;
    display: block;
    height: 4vw;
    position: fixed;
    background-color: #ffffff;
    z-index: 4;
}
.navbar>ul{
    width: 100vw;
    height: 3vw;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.navbar>ul>a>li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0vw 1vw;
    font-size: 2.5vw;
    display: inline-block;
    transition: all ease 1s;

}
.navbar>ul>a{
    padding: 2vw;
    text-decoration: none;
    color: #db9d21;
}
.navbar>ul>a>li:hover{
    font-weight: bolder;
    font-size: 2.7vw;
    color: #db9d21;
}
/* Hamburger icon  */
.hmb{
    position: fixed;
    top: 1vh;
    left: 2vw;
    display: none;
}
.hmb>img{
    height: 3vh;
}
/* Navigation Button */
.navbut{
    display: none;
    width: 19vw;
    height: 40vw;
    padding: 1vw 1vw;
    position: fixed;
    left: 0vw;
    top: 0vw;
    background-color: #ffffff;
    z-index: 4;
    border-radius:0 0 5vw 2vw;
}
.navbut>ul{
    list-style: none;
    align-items: center;
    justify-content: center;
}
.navbut>ul>a>li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1vw 1vw;
    font-size: 4vw;
    transition: all ease 0.5s;

}
.navbut>ul>a{
    text-decoration: none;
    color: #e2a554;
}
.navbut>ul>a>li:hover{
    font-weight: bolder;
    font-size: 4.2vw;
    color: #de9b1f;
}
/* Change Between Navbar and Navbut */
@media screen and (max-width: 1000px) {
    .navbar{
        display: none;
    }
    .hmb{
        display: block;
    }
    .hmb:hover+.navbut{
        display: block;
    }
    .navbut:hover{
        display: block;
    } 
    .pricechair,.pricetable,.pricesofa{
        font-size: 8vw;
    }
    .form{
        padding-top: 1vh;
    }
}
/* Fixed icon for help */
.contact{
    height: 15vh;
}
.icon{
    position: fixed;
    bottom: 0vh;
    right: 0vw;
    cursor: pointer;
    border-radius: 25px;
    z-index: 2;
}
/* Query Form */
.form{
    display: none;
    background-image: url("Assets/form-bg.avif");
    background-size: cover;
    height: auto;
    width: 45vw;
    position: fixed;
    right: 10vh;
    bottom: 14vh;
    padding: 3% 5%;
    border-radius: 50px 50px 0px 50px;
    box-shadow: 0px 0px 10px 10px rgb(235, 159, 59);
    z-index: 3;

}
.contact_form>input,.contact_form>textarea,.contact_form>button{
    font-size: 3vh;
    padding-left:2%;
    display: flex;
    height: 6vh;
    width: 100%;
    border-radius: 25px;
    background-color: rgb(250, 222, 185);
}
.contact_form>textarea{
    font-size: 3vh;
    padding-top: 2%;
    padding-left: 3%;
    height: 13vh;
    resize: none;
}
.contact_form>button{
    width: auto;
    margin-left:35%;
    padding: 0.3vh;
    height: 4vh;
    background-color: rgb(206, 163, 34);
    cursor: pointer;
}
.contact_form>button:hover{
    color: burlywood;
    background-color: rgb(102, 80, 6);
    box-shadow: 2px 2px 10px 10px rgb(155, 89, 2);
}
.icon:hover+.form {
    display: block;
}
.form:hover {
    display: block;
}
/*submittion Status*/
.submitted{
    display: none;
    padding:5vw;
    text-align: center;
    justify-content: center;
    font-size: 5vw;
    color: #ffffff;
    position: fixed;
    background-image: linear-gradient(to bottom,rgb(72, 231, 72),green);
    top: 18vh;
    left: 22vw;
    height: 40vh;
    width: 55vw;
    transition: all ease;
    border-radius: 50px;
    z-index: 4;
}


/*Price page*/
.pricechair,.pricetable,.pricesofa,.pricebed{
    display: none;
    justify-content: center;
    border-radius: 2vw;
    background-color: #dbaa55;
    padding: 2vw 1vw;
    position: fixed;
    top: 18vh;
    left: 15vw;
    height:auto;
    width: 70vw;
    font-size: 3vw;
    z-index: 4;
}
.pricechair>img,.pricetable>img,.pricesofa>img,.pricebed>img{

    height: 14vw;
}
.close,#close1,#close2,#close3,#close4{
    color: red;
    position: fixed;
    font-size: 5vw;
    top:18vh;
    right: 16vw;
    cursor: pointer;
}

@media screen and (min-width : 1400px){
    .pricechair,.pricetable,.pricesofa{
        font-size: 2vw;
    }
    
}
/* Start of first page */
.land{
    background-color: #e3e8ed;
    overflow: hidden;
}
.land>img{
    width: 100vw;
}
.land>span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10vw;
    position: relative;
    top: -47vw;
    left: 5vw;
}
.land>span>span,.details>span,.description>span{
    color: #977232;
}
.land>.details,.land>.description{
    font-size: 4.8vw;
    position: relative;
    top: -20vw;
    z-index: 1;
}
.land>.details{
    left: 5vw;
}
.land>.description{
    font-size: 3.3vw;
    right: -20vw;
}

/*Scroll Effect*/
::-webkit-scrollbar{
    display: none;
}

.scroll{
        background-color:#e3e8ed;
        width: 100vw;
        overflow:auto;
        white-space: nowrap;
}
.scroll>a{
    display:inline-block;
}
.scroll>a>img{
    height: 30vw;
}
.scroll>a:hover{
    border-radius: 50%;
    background-size: cover;
    transition: ease 1s;
}
.secondpage>.scroll>a:hover{
    background-image: url("Assets/wall.png");
}
.thirdpage>.scroll>a:hover{
    background-image: url("Assets/floor.png");
}
.fourthpage>.scroll>a:hover{
    background-image: url("Assets/room.png");
    border-radius: 100px;
}
.fifthpage>.scroll>a:hover{
    background-image: url("Assets/room_wall.jpg");
    border-radius: 25px;
}
.secondpage,
.thirdpage,
.fourthpage,
.fifthpage{
    padding: 3vw;
    background-color: #e3e8ed;
}
.secondpage>span,
.thirdpage>span,
.fourthpage>span,
.fifthpage>span{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10vw;
}
